PORT=4242
FRONTEND_URL=http://localhost:3001
AUTH_PROVIDER=supabase
PAYSTACK_CURRENCY=NGN
PAYSTACK_SECRET_KEY=sk_test_your_secret_key
ADMIN_UIDS=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PRODUCTS_TABLE=products
SUPABASE_ORDERS_TABLE=orders
SUPABASE_REVIEWS_TABLE=reviews
