PORT=4242
FRONTEND_URL=http://localhost:3001
PAYSTACK_CURRENCY=NGN
PAYSTACK_SECRET_KEY=sk_test_your_secret_key
SUPER_ADMIN_UIDS=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROFILES_TABLE=profiles
SUPABASE_VENDORS_TABLE=vendors
SUPABASE_VENDOR_ADMINS_TABLE=vendor_admins
SUPABASE_VENDOR_CATEGORIES_TABLE=vendor_categories
SUPABASE_VENDOR_PAYSTACK_TABLE=vendor_paystack_accounts
SUPABASE_PRODUCTS_TABLE=products
SUPABASE_ORDERS_TABLE=orders
SUPABASE_REVIEWS_TABLE=reviews
